*{
    margin: 0%;
    padding: 0%;
}

html, body{

    height: 100%;
}

.grilla{

    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    grid-template-rows: 90px auto 80px;
    grid-template-columns: 100%;

}

header{

    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#logo{

    padding: 10px;
    width: 90px;
    padding-left: 0%;

}

nav{

    padding-right: 20px;

}

.BARRA{

    color: white;
    font-family: sans-serif;
    font-size: 15pt;
    text-decoration: none;

}

.BARRA:hover{

    color: greenyellow;
}

footer{

    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}


.marcas{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#adidas{

    width: 70px;
}

#star{

    width: 70px;
}

#Under{

    width: 80px;
}

h3{

    color: white;
    justify-self: center;
    font-family: sans-serif;

}

.redes{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#facebook{

    width: 60px;
}

#instagram{

    width: 60px;
}

#whatsapp{

    width: 60px;
}

.ubicacion{

    background: url(fotos/pesas.jpg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#horarios{

    background-color: black;
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

#mapa{

    margin-right: 40px;
    border-radius: 15%;
    
}

@media screen and (max-width: 768px) {

    .grilla{

        display: grid;
        height: 100%;
        width: 100%;
        grid-template-areas: 
        "header"
        "section"
        "footer";
    grid-template-rows: 20% auto 15%;
    grid-template-columns: 100%;

    }

    header{

        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        background-color: black;


    
}
    .logo2{

        display: flex;
        flex-direction: row;
        justify-content: center;

    }


    #logo{

        width:  20%;
      
        
    }

    .BARRA{

        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        font-size: 10pt;
        width: auto;

    }


    section{

    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    }


    #foto {

        width: 400px;
        padding: 0%;
    }

    #frase{

        font-family: sans-serif;
        font-size: 15pt;
        color: white
    }

    .ubicacion{

        background: url(fotos/pesas.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    
    #horarios{
    
        background-color: black;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 40px;
        margin-bottom: 0px;
    
       
    }
    
    #mapa{
    
        width: 400px;
        border-radius: 15%;
        margin-bottom: 20px;
        margin-right: 0px;
        
    }

    #seguinos{

        display: none;
    }
    
}