*{
    margin: 0%;
    padding: 0%;
}

html, body{

    height: 100%;
}

.grilla{

    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "header"
    "actividades"
    "footer";
    grid-template-rows: 90px auto 80px;
    grid-template-columns: 100%;

}

a{

    text-decoration: none;
}

header{

    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#logo{

    padding: 10px;
    width: 90px;
    padding-left: 0%;

}

nav{

    padding-right: 20px;

}

.BARRA{

    color: white;
    font-family: sans-serif;
    font-size: 15pt;
    text-decoration: none;

}

.BARRA:hover{

    color: greenyellow;
}



footer{

    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}


.marcas{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#adidas{

    width: 70px;
}

#star{

    width: 70px;
}

#Under{

    width: 80px;
}

h3{

    color: white;
    justify-self: center;
    font-family: sans-serif;

}

.redes{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#facebook{

    width: 60px;
}

#instagram{

    width: 60px;
}

#whatsapp{

    width: 60px;
}


.actividades{

    grid-area: actividades;
    display: grid;
    grid-template-areas: 
    
    "musculacion spinning zzcross funcional"

    ". h3 h3 .";

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background: url(fotos/pesas\ fondo.jpg);
}

.musculacion{
    
    grid-area: musculacion;
    display: flex;
   
}

.spinning{
     
    grid-area: spinning;
    
}

.zzcross{

    grid-area: zzcross;
   
}

.funcional{

    grid-area: funcional;

}

h3{
    
    grid-area: h3;
    background-color: black;
    align-self: center;
    border-radius: 50%;
    padding: 20px 20px 20px 20px;

}

.menu{

    width: 250px;
    border-radius: 10%;
   
}

#boton1{

    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-self: center;

}

#boton2{
    
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-self: center;
}

#boton3{

    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-self: center;
}

#boton4{

    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-self: center;
}

#boton1:hover{

    color: greenyellow;
    background-color: grey;
    border-color: grey;
    border-style:solid;
}

#boton2:hover{

    color: greenyellow;
    background-color: grey;
    border-color: grey;
    border-style:solid;
}

#boton3:hover{

    color: greenyellow;
    background-color: grey;
    border-color: grey;
    border-style:solid;
}

#boton4:hover{

    color: greenyellow;
    background-color: grey;
    border-color: grey;
    border-style:solid;
}

@media screen and (max-width: 768px) {

    .grilla{

        display: grid;
        height: 100%;
        width: 100%;
        grid-template-areas: 
        "header"
        "actividades"
        "footer";
    grid-template-rows: 20% auto 15%;
    grid-template-columns: 100%;

    }

    header{

        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        background-color: black;


    
}
    .logo2{

        display: flex;
        flex-direction: row;
        justify-content: center;

    }


    #logo{

        width:  20%;
      
        
    }

    .BARRA{

        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        font-size: 10pt;
        width: auto;

    }


    .actividades{

        grid-area: actividades;
        display: grid;
        grid-template-areas: 
        "musculacion spinning"
        "zzcross funcional";
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
        background: url(fotos/pesas\ fondo.jpg);
    }
    
 
    .musculacion {

        grid-area: musculacion;
    }

    .spinning{

        grid-area: spinning;
    }

    .zzcross{

        grid-area: zzcross;
    }

    .funcional{

        grid-area: funcional;
    }

    #movete{

        display: none;
    }
    
    h3{
        
        grid-area: h3;
        background-color: black;
        align-self: center;
        border-radius: 50%;
        padding: 20px 20px 20px 20px;
    
    }
    
    .menu{
    
        width: 150px;
        border-radius: 10%;
       
    }
    
    #boton1{
    
        color: white;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-self: center;
    
    }
    
    #boton2{
        
        color: white;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    
    #boton3{
    
        color: white;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    
    #boton4{
    
        color: white;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    
    #boton1:hover{
    
        color: greenyellow;
        background-color: grey;
        border-color: grey;
        border-style:solid;
    }
    
    #boton2:hover{
    
        color: greenyellow;
        background-color: grey;
        border-color: grey;
        border-style:solid;
    }
    
    #boton3:hover{
    
        color: greenyellow;
        background-color: grey;
        border-color: grey;
        border-style:solid;
    }
    
    #boton4:hover{
    
        color: greenyellow;
        background-color: grey;
        border-color: grey;
        border-style:solid;
    }



    #seguinos{

        display: none;
    }
    
}